<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
    <div class="container">
        <h1>Hello Universe</h1>
        <p>Welcome to my blogging site - to add Blogs</p>
        <nav class="index-nav">
            <a href="/addBlogs" id="addBlogs">Add Blogs</a>
            <div class="menu">
                <a href="/Register">Register</a>
                <a href="/Login">Login</a>
            </div>
        </nav>

        <div style="background: blue; padding: 10px; margin-top:10px; border-radius: 5px;">
        <nav>
            <h1>
                All Blogs
            </h1>
        </nav></div>
    </div>
</body>
</html>